
body {
  background-color: black;
  color: #00FF00;
  font-family: "Courier New", monospace;

}

h1, h2, h3 {
  color: #00FF00;
}
hr {
	color: #00FF00;
}
a {
  color: #00FF00;
  text-decoration: none;
}

a:hover {
  color: #00FF00;
  text-decoration: underline;
}

.navigation a {
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}
.navigation a {
  display:inline-block;
  margin:0 10px;
}
body {
  overflow: hidden;
}

.matrix-effect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  background-color:#000;
}

.matrix-effect span {
  content:"";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #00FF00;
  transform-origin:center-top;
  animation: matrix-effect-animation 10s linear infinite;
}

@keyframes matrix-effect-animation {
  0% {
    transform: translate(-50%,-100%);
  }
  100% {
    transform: translate(-50%,100%);
  }
}


