
body {
  background-color: black;
  color: #00FF00;
  font-family: "Courier New", monospace;

}

h1, h2, h3 {
  color: #00FF00;
}
hr {
	color: #00FF00;
}
a {
  color: #00FF00;
  text-decoration: none;
}

a:hover {
  color: #00FF00;
  text-decoration: underline;
}

.navigation a {
  display: flex;
  justify-content:center;
  margin-bottom: 20px;
}
.navigation a {
  display:inline-block;
  margin:0 10px;
}
body {
  overflow: hidden;
}

.matrix-effect {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  background-color:#000;
}

.matrix-effect span {
  position: absolute;
  top: -50px;
  color: #00FF00;
  font-size: 16px;
  animation: matrix-effect-animation 5s linear infinite;
}

@keyframes matrix-effect-animation {
  0% {
    opacity: 0;
    transform: translateY(-100vh) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh) rotate(360deg);
  }
}
